<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
{% if cards_info %}
    {% for card_info in cards_info %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <img src="{{card_info.card.image_url}}" />
        </div>
        <div class="col-4">
            <h3>{{card_info.card.name}}</h4>
            <p>Type: {{card_info.card.card_type}}</p>
        {% if card_info.card.card_property %}<p>Property: {{card_info.card.card_property}}</p>{% endif %}
            <p>Status: {{card_info.card.status}}</p>
            {% if card_info.monster_types %}
            <p>Monster Types: {{card_info.monster_types}}</p>
            <p>Attribute: {{card_info.card.monster_attribute}}</p>
            <p>Level: {{card_info.card.monster_level}}</p>
            <p>Attack/Defense: {{card_info.card.monster_attack}} / {{card_info.card.monster_defense}}</p>
            {% endif %}
            <h4>Text:</h4>
            {% if card_info.card.effect %}
            {% if card_info.card.additional_text %}<p>{{card_info.card.additional_text}}</p>{% endif %}
            <p>[Requirement]</p>
            <p>{{card_info.card.requirement}}</p>
            <p>[{{card_info.card.effect_type}}]</p>
            <p>{{card_info.card.effect}}</p>
            {% else %}
            <p>{{card_info.card.text}}</p>
            {% endif %}
        </div>
        <div class="col-2"></div>
    </div>
    {% endfor %}
{% endif %}
</body>
</html>